* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    width: 100% !important;
    min-height: 100vh !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.587), rgba(0, 0, 0, 0.521)), url(https://miro.medium.com/v2/resize:fit:1358/1*uKbcXDBxEmv3FybfNXkf4Q.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: white !important;
}